body {
  margin: 0px;
  background-color: blue;
  /* background: linear-gradient(blue, rgb(61, 24, 90)) */
}
/* rgb(136, 198, 213) */
.navbar {
  width: 110%;
  position: fixed;
  overflow: hidden;
  z-index: 100;
  top: 0;
  font-size: 120%;
  background: rgb(236, 236, 236) ;
}

.cards {
  width: 97%;
  margin-left: 1.5%;
  margin-top: 40px;
}

.timeline {
  margin: 50px;
}

.stdinfo {
  width: 560px;
  /* border: 1px solid black; */
  margin-left: 20px;
}